opacity: .6;
-webkit-filter: saturate(1);
background-image: -webkit-radial-gradient(80% 10%, circle, #3D4D8D, transparent), -webkit-radial-gradient(80% 50%, circle, #00A0FA, transparent), -webkit-radial-gradient(20% 80%, 40em 40em, #201B99, transparent), -webkit-radial-gradient(20% 30%, circle, #00C2FF, transparent);
}
.mask {
display: block;
background-color: #B46767;