.overlay
  
  opacity 0.7
  //-webkit-filter blur(em);
  -webkit-backface-visibility hidden
  background-color blue
  background-image -webkit-radial-gradient(80% 10%, circle, #BF7667, transparent), -webkit-radial-gradient(80% 50%, circle, #EFDDB7, transparent), -webkit-radial-gradient(20% 80%, 40em 40em, #977351, transparent), -webkit-radial-gradient(10% 10%, circle, #E1C3B9, transparent)
  
  
  opacity: 0.7;


//This is a better color pallette

opacity: 0.5;
background-color: rgb(0, 245, 255);
background-image: -webkit-radial-gradient(80% 10%, circle, #167194, transparent), -webkit-radial-gradient(80% 50%, circle, #F58BF5, transparent), -webkit-radial-gradient(20% 80%, 40em 40em, #676D49, transparent), -webkit-radial-gradient(20% 30%, circle, #D304E6, transparent);

//This is a very nice blue Rdio style color pallette
opacity: .7;
-webkit-filter: saturate(1);
background-image: -webkit-radial-gradient(80% 10%, circle, #3D4D8D, transparent), -webkit-radial-gradient(80% 50%, circle, #00A0FA, transparent), -webkit-radial-gradient(20% 80%, 40em 40em, #201B99, transparent), -webkit-radial-gradient(20% 30%, circle, #00C2FF, transparent);
}
.mask {
display: block;
background-color: #B46767;