// Theme Colors
glass-blue = #007aff

// Typography Defaults
font-size ?= 16px
font-family ?= "Avenir"
font-alternative ?= "Helvetica"
font = font-size font-family, font-alternative, sans-serif
line-height ?= 130%


//headings
heading-color ?= glass-blue

h1, h2, h3, h4, h5, h6
  color: heading-color

// Colors
color ?= glass-blue